***REMOVED***
***REMOVED*** VMware SCSI devices Timeout adjustment
***REMOVED***
***REMOVED*** Modify the timeout value for VMware SCSI devices so that
***REMOVED*** in the event of a failover, we don't time out.
***REMOVED*** See Bug 271286 for more information.
***REMOVED***
***REMOVED*** Note: The Udev systems vary from distro to distro.  Hence all of the
***REMOVED***       extra entries.

***REMOVED*** Redhat systems
ACTION=="add", BUS=="scsi", SYSFS{vendor}=="VMware, " , SYSFS{model}=="VMware Virtual S",   RUN+="/bin/sh -c 'echo 180 >/sys$DEVPATH/device/timeout'"

***REMOVED*** Debian systems
ACTION=="add", SUBSYSTEMS=="scsi", ATTRS{vendor}=="VMware  " , ATTRS{model}=="Virtual disk    ",   RUN+="/bin/sh -c 'echo 180 >/sys$DEVPATH/device/timeout'"

***REMOVED*** SuSE / Ubuntu systems
ACTION=="add", SUBSYSTEMS=="scsi", ATTRS{vendor}=="VMware, " , ATTRS{model}=="VMware Virtual S",   RUN+="/bin/sh -c 'echo 180 >/sys$DEVPATH/device/timeout'"
